<script src="{{ 'assets/lib/qr-code-styling.js' | relative_url }}"></script>
<script> 

var qrDiv = document.getElementById("qrDiv");
var newQR;

function generate_qr_code() {
    // get values
    var qrUrl = document.getElementById("qrLink").value;
    var qrWidth = document.getElementById("qrWidth").value ? parseInt(document.getElementById("qrWidth").value) : 500;
    var qrLogo = document.getElementById("qrLogo").value ? "{{ '/assets/img/' | relative_url }}" + document.getElementById("qrLogo").value : false;
    var qrCampaign = document.getElementById("qrCampaign").value;
    var qrSource = document.getElementById("qrSource").value;
    var qrMedium = document.getElementById("qrMedium").value ? document.getElementById("qrMedium").value : "qr_code";

    if (qrCampaign) { 
        qrUrl += `?utm_campaign=${encodeURIComponent(qrCampaign)}&utm_source=${encodeURIComponent(qrSource)}&utm_medium=${encodeURIComponent(qrMedium)}`;
    }
    console.log(qrUrl);

    // generate qr code 
    newQR = new QRCodeStyling({
        width: qrWidth,
        height: qrWidth,
        type: "svg",
        data: qrUrl,
        image: qrLogo
    });
    
    // add button to download qr
    var downloadBtn = `<div class="text-center m-4">
        <div id="qrPreview"></div>
        <button class="btn btn-lg btn-success m-3" onclick="newQR.download({ name: 'qr-code', extension: 'png' });">Download PNG</button>
        <p class="mt-5"><strong>Link in this QR:</strong><br><code>${qrUrl}</code></p>
        </div>`;
    qrDiv.innerHTML = downloadBtn;
    // add svg preview of qr
    newQR.append(document.getElementById("qrPreview"));
    
}

</script>